<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <style>
        span{
            color:red;
        }
    </style>
</head>
<body>

    <h1>You have Entered into the profile Page</h1>
    <h1>Hi your name is <span><%= user.username %></span></h1>
    <h1>and your email is <span> <%= user.email %> </span></h1>

    <a href = "/user/Signout"><button style="height:30px; width:70px;">Sign out</button></a>

</body>
</html>