body {
  background-color: skyblue; }

#container {
  height: 80%;
  width: 50%;
  margin-left: 25%;
  border: 1px solid black; }

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10vh; }

form input {
  height: 40px;
  width: 80%;
  margin-bottom: 20px; }
